@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* SPECIAL CLASS */
.hidden {
  display: none;
  opacity: 0;
  transition: 0.5s ease;
}
.show {
  opacity: 1;
  transition: 0.5s ease;
}
/* /SPECIAL CLASS */

body {
  background-color: #011627;
}
.container {
  width: 100%;
  color: #fdfffc;
  text-align: center;
}


/* HEADER */
h1 {
  font-size: 5rem;
  font-family: 'Fredoka One', cursive;
  color: #ff9f1c;
  cursor: pointer;

  text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);

}

/* MAIN */

main {
  margin: 4rem 0;
}

.wrapperChoices {
  display: flex;
  justify-content: space-around;
  margin: 3rem 0;
}
.buttons {
  width: 30%;
  padding: 1.5rem 0;
  font-size: 2rem;
  outline: none;
  cursor: pointer;
  background-color: #ff9f1c;
  border-radius: 4px;
  border: none;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  font-family: 'Fredoka One', cursive;
}
.buttons:focus {
  box-shadow: 0 19px 38px rgba(237, 62, 62, 0.3), 0 15px 12px rgba(230, 67, 67, 0.22);
}


.result {
  display: inline-block;
  padding: 3rem;
  background-color: rgba(46, 196, 181, 0.269);
  border-radius: 3px;
  border: 1px solid #fdfffc;
}

h2 {
  margin: 2rem 0;
}

.bigRed {
  font-family: 'Fredoka One', cursive;
  font-size: 4rem;
  color: #e71d36;
  text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

span {
  font-size: 4rem;
  color: #e71d36;
  vertical-align: middle;
  padding: 0 1rem;
  font-family: 'Fredoka One', cursive;
}

.totalScore {
  font-size: 4rem;
  color: #2ec4b6;
  /* background-color: #ff9f1c;s */
  /* border-radius: 100%; */
  vertical-align: middle;
  padding: 0 1rem;
  font-family: 'Fredoka One', cursive;
}

.winner {
  font-family: 'Fredoka One', cursive;
  font-size: 4rem;
  text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}